main{
    margin-top:200px;
}
img{
    display:block;
    width:150px;
    height:150px;
    padding:20px;
}
label{
    font-size:1.5em;
}
.input-field
{
	width: 80%;
	padding:10px 0;
	margin:20px 0;
	color:#999;
	font-size: 1.5em;
    font-family: 'Anton', sans-serif;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
    color:white;
	font-size: 1.5em;
    font-family: 'Anton', sans-serif;
	margin: auto;
	background:rgb(4, 98, 58);
	border: 0;
	outline: none;
	border-radius: 30px;
}

main div{
    width: 500px;
	margin:auto;
	margin-top: 250px;
    min-height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	background:rgba(0,0,0,0.6);
	padding:10px;
	border-radius: 10px;
}